



 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

 * {
   margin: 0;
   padding: 0;
 }
 
 body {
   background: #f8f9fa;
 }
 
 .disappear {
   font-family: 'Open Sans', sans-serif;
   max-width: 680px;
   margin: 50px auto;
   background: #FFF;
   overflow: hidden;
   padding: 16px 24px 24px;
   box-sizing: border-box;
   box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%);
   border-top: 3px solid #1c3aea;
   border-radius: 0 0 4px 4px;
   transition: all 0.8s ease;
   min-width: 320px;
 }
   h1 {
     margin-bottom: 8px;
     font-weight: 700;
     color: #111111;
     font-size: 28px;
   }
 
   ul {
     display: flex;
     flex-direction: column;
     list-style: none;
     margin-top: 24px;
   }
 
   .item img{
       height: 128px;
       min-width: 128px;
       object-fit: scale-down;
       max-width: 128px;
     }
 
    .item {display: flex;
     align-items: flex-start;
     padding: 16px 10px 0px;
     position: relative;
     border: 1px solid transparent;
     border-top: 1px solid #eaeaea;
   }
 
 .item-details {
   display: flex;
   flex-direction: column;
   margin: 0 32px;
   flex: 1;
 }
 
 .disappear ul li {
   margin-top: 16px;
   position: relative;
   overflow: hidden;
 }

 .disappear ul li:first-child{
    margin: 0;
 }
 
 .item button.delete {
   margin-left: 10px;
   min-width: 32px;
   height: 32px;
   color: #525252;
   background: #f1f1f1;
   border: 0;
   font-size: 24px;
   border-radius: 4px;
   cursor: pointer;
 }
 
 .item button.delete:hover{
    background: #e2e2e2;
 }

 .sub-title {
   font-weight: 600;
   font-size: 14px;
   color: #111111;
 }
 
 .item-name {
   font-weight: 300;
   font-size: 16px;
   color: #111111;
 }

 .item-name a{
    color: #111111;
    text-decoration: none;
 }
 
 .item-name a:hover{
    text-decoration: underline;
 }

 .price {
   margin-top: 2px;
   font-weight: 600;
   font-size: 16px;
   color: #ff5722;
 }
 
 .arrival {
   margin-top: 8px;
   font-size: 12px;
   font-weight: 600;
   color: #555555;
 }
 
 .checkout {
   border-top: 1px solid #eaeaea;
   padding-top: 20px;
   display: flex;
   justify-content: flex-end;
 }

 .checkout button{
    padding: 16px;
    min-width: 256px;
    border: 0;
    background: #1b3aea;
    color: #FFF;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
 }
 
 .cart-title {
   display: flex;
 }
 
 .total {
   margin-left: auto;
   display: flex;
   flex-direction: column;
 }
 
 .total-amount {
   font-size: 26px;
   font-weight: 700;
   color: #ff5722;
   display: flex;
   justify-content: flex-end;
 }
 
 .total-txt {
   display: flex;
   justify-content: flex-end;
   color: #555;
 }
 
 .item button.delete:focus {
   border: 1px solid #607d8b;
   outline: 0;
 }
 
 .prompt {
   padding: 16px;
   box-sizing: border-box;
   background: #f2f2f2;
   border: 1px solid #eaeaea;
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%) translateY(-200px);
   width: 50%;
 }
 
 li.selected .prompt{
    transition: all 0.2s;
    animation: pullDown .2s forwards;
    animation-delay: .2s;
 }

 li.selected .prompt .deleted .prompt{
    animation: deleteAnimation 0.2s forwards;
 }
 
 @keyframes pullDown {
   0% {
     transform: translate(-50%) translateY(-200px);
   }
 
   100% {
     transform: translate(-50%) translateY(0px);
   }
 }
 
 @keyframes deleteAnimation {
   0% {
     transform: translate(-50%) translateY(0px);
   }
 
   100% {
     transform: translate(-50%) translateY(-200px);
   }
 }
 
 .prompt-inner {
   text-align: center;
 }
 .prompt-inner .prompt-btn {
     margin-top: 16px;
   }
   .prompt-btn button {
       margin: 0 16px;
       padding: 8px;
       min-width: 80px;
       border-radius: 4px;
       font-weight: 700;
       cursor: pointer;
     }
 
     .prompt-no {
       background: #fff;
       border: 1px solid #666;
     }
 
     .prompt-yes {
       background: #1c3aea;
       color: #FFF;
       border: 1px solid #1c3aea;
     }

 
 li.selected .item {
   border-bottom: 0;
   filter: grayscale(1);
 }
 li.selected .item:after {
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     height: 100%;
     width: 100%;
     background: #ffffff8c;
 }
 
 .prompt-inner .prompt-btn button:hover {
   box-shadow: 0px 0px 5px 0px #9e9e9e;
 }
 
 li.selected.deleted .item {
   transition: all 1s;
   background: #fdfdfd;
   animation: fadeOut 1s forwards;
 }
 li.selected.deleted .item:after {
     display: none;
 }
 
 @keyframes fadeOut {
   0% {
     opacity: 1;
   }
 
   100% {
     opacity: 0;
   }
 }
 
 .item.empty-cart {
   padding: 24px 10px;
 }
 .item.empty-cart p {
     color: #111111;
     text-align: center;
     width: 100%;
 }
 
 .checkout.disabled button {
   background: #f1ecec;
   pointer-events: none;
   color: #bbb8b8;
   cursor: no-drop;
 }
 
 .continue-shopping {
   color: #1c3aea;
   font-size: 14px;
   text-align: right;
 }
 
 .cart-title > div {
   flex: 1;
 }
 
 .continue-shopping:hover {
   text-decoration: none;
   color: #122dd4;
 }
 
 .checkout button:hover {
   box-shadow: 1px 1px 10px 0px #c7c7c7;
   background: #122dd4;
 }
 
 .total-amount.updated-amount span {
   animation: scaleText 0.3s forwards;
   transition: all 1s;
 }
 
 @keyframes scaleText {
   0% {
     transform: scale(1);
   }
 
   50% {
     transform: scale(1.1);
   }
 
   100% {
     transform: scale(1);
   }
 }
 
 @media screen and (max-width: 480px) {
   .disappear {
     padding: 0 16px;
     margin: 0;
     height: 100vh;
     box-shadow: none;
     overflow: scroll;
   }
 
   .cart-title {
     position: sticky;
     top: 0;
     z-index: 1;
     background: #FFF;
     padding-bottom: 8px;
     border-bottom: 1px solid #eaeaea;
   }
 
   .total {
     margin: 8px auto 0;
     width: 100%;
   }
 
    .disappear .item {
       flex-direction: column;
     }
 
     .disappear .item ul li:first-child .item {
       border-top: 0;
     }
 
   .item button.delete {
     position: absolute;
     right: 0;
   }
 
   .checkout button {
     width: 100%;
   }
 
   .item-details {
     margin: 8px 0 0;
   }
 
   .prompt {
     width: 100%;
   }
 
   .disappear .item img {
     width: 68px;
     height: 68px;
   }
 
   .item-name {
     font-size: 14px;
   }
 
   .disappear h1 {
     font-size: 16px;
     margin-bottom: 4px;
     margin-top: 8px;
   }
 
   .checkout {
     padding-bottom: 16px;
     position: sticky;
     bottom: 0;
     background: #FFF;
   }
 
   .total-txt {
     font-size: 14px;
     font-weight: 300;
   }
 
   .total-amount {
     font-size: 20px;
   }
 
   .sub-title {
     font-size: 14px;
     font-weight: 300;
   }
 
   .continue-shopping {
     margin-top: 4px;
   }
 
   .disappear ul li:last-child {
     margin-bottom: 16px;
   }
 }



/* footer */

footer{
    background: rgb(29, 29, 29);
    width: 100%;
    height: 55vh;
  }
  
  .footer-brand img {
    width: 15%;
    margin-left: 7%;
    margin-top: 3%;
  }
  
  input[type="text"] {
    margin-left: 7%;
    padding: 17px;
    width: 25%;
    border: none;
    outline: none;
    font-size: 18px;
    color: #0ca5ff;
  
  }
  
  .footer-text button {
    margin-left: -50px;
    padding: 20px;
    border: none;
    outline: none;
    background: #0ca5ff;
  }
  
  .footer-text button a {
    color: #fff;
    font-size: 15px;
  }
  
  .footer-text p {
    width: 400px;
    color: #fff;
    text-align: justify;
    margin-left: 7%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Open Sans' sans-serif;
    font-size: 18px;
  }
  
  ::placeholder{
    font-size: 17px;
  }
  
  .about-us {
    margin-left: 40%;
    margin-top: -12%;
  }
  
  .about-us a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
  }
  
  .about-us h1 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
  
  .about-us ul{
    margin-top: 25px;
    list-style: none;
  }
  
  .about-us ul li {
    line-height: 40px;
  }
  
  .coustomer-service{
    margin-left: 60%;
    margin-top: -14%;
  }
  
  .coustomer-service a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
  }
  
  .coustomer-service h1 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
  
  .coustomer-service ul{
    margin-top: 25px;
    list-style: none;
  }
  
  .coustomer-service ul li {
    line-height: 40px;
  }
  
  .Address{
    margin-left: 80%;
    margin-top: -12%;
  }
  
  .Address a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
  }
  
  .Address h1 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
  
  .Address ul{
    margin-top: 25px;
    list-style: none;
  }
  
  .Address ul li {
    line-height: 40px;
  }
  
  .Address ul li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
  }
  
  .Address li p{
    width: 350px;
    margin-left: 25px;
    margin-top: -22px;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  
  .google-play img,
  .i-store img {
    width: 220px;
  }
  
  .google-play {
    margin-left: 50%;
    margin-top:  50px;
  }
  
  .i-store {
    margin-left: 65%;
    margin-top: -75px;
  }
  
  .social-icon a{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-left: 10px;
    color: #3FA205;
    font-size: 18px;
    box-shadow: 0 11px 80px rgb(0 0 0 / 9%), 0 -7px 4px rgb(0 0 0 / 0%);
    transition: all 0.5s ease;
}

.social-icon .fb:hover{
  background: #1A71E8;
  color: #fff;
}

.social-icon .tw:hover{
  background: #529aff;
  color: #fff;
}

.social-icon .ins:hover{
  background-image: linear-gradient(to right, #BD0082, #EA1704, #EE8B17);
  color: #fff;
}

.social-icon .linkedin:hover{
  background: #2662A9;
  color: #fff;
}

.social-icon .pin:hover{
  background: rgb(179, 0, 0);
  color: #fff;
}

.social-icon .gp:hover{
  background: #83B745;
  color: #fff;
}

.social-icon .en:hover{
  background: #DE971D;
  color: #fff;
}